<template name="myBlogIndexTemplate">
<div>{{> header}}</div>
<div class= "blogbackground "> 
	<div class="section row">
 	 <h1 class= "white small-12.columns">Welcome to our Blog </h1>
 	 <h3> At orikami, we never stop learning.  </h3>
   <div> Our team shares their latest insights with you through our blog. <br> It will be updated regularly and will discuss subjects ranging from machine learning to microservices to designing for content. </div>
   </div> </div>
  <div>{{> blogIndex}}</div>
</template>





