<template name="myBlogIndexTemplate">
<div class= "blogbackground"> 
  <h1  style="padding: 20px;">Welcome to our Blog <br> </h1>
  <h3 style="padding: 20px;"> <br> <br>At orikami, we never stop learning. <br> <br> <br> </h3>
  </div>
  <div style="padding: 20px;"> Our team shares their latest insights with you through our blog. <br> It will be updated regularly and will discuss subjects ranging from machine learning to microservices to designing for content. </div>
  <div>{{> blogIndex}}</div>
</template>