template(name='cases')
  +tabs id="cases-tabs" settings=tabSettings

    div
      .row
        svg(height='70', width='100%')
          line(x1='0', y1='15', x2='1200', y2='15', style='stroke: #999999; stroke-width: 3;')
          polygon(class='polygon', points='250,15 170,15 210,28')
      .row.s8.kplusv
        .small-4.columns
          img.png(src="images/kplusv.png" width="90%" float="left" )
          a(href='www.cultureelondernemenscan.nl', target='blank') www.cultureelondernemenscan.nl
          p techniques used: Ruby on Rails, HTML5, D3.js, Linear Algebra & Geometry
        .small-8.columns
          h3 data product
          p In co-creation with KplusV we developed a web application, which maps the vitality of a cultural organisation. By means of a questionnaire we measure innovativity, distinctiveness, strategy and business execution. When the questionnaire is finished, the application presents a diagnosis.
          h3 insight
          p The diagnosis is presented in an interactive data visualization. This way the user can learn about the different aspects of his/her organisation.
          h3 intelligence
          p Together with the experts of KplusV we made a mathematical model of the available knowledge about cultural entrepreneurship. While the aforementioned diagnosis is loosely based on this model we took it one step further and incorporated an organisation specific advise for action. The advise focuses on how this specific organisation should act to become more entrepreneurial and adapt to modern times with their unique challenges.


    div
      .row
        svg(height='70', width='100%')
          line(x1='0', y1='15', x2='1200', y2='15', style='stroke: #999999; stroke-width: 3;')
          polygon(class='polygon', points='540,15 620,15 580,28')
      .row.s8.umap
        .small-4.columns
          img.png(src="images/umap.png" width="90%" float="left" )
          a(href='www.u-map.eu', target='blank') www.u-map.eu
          p Ruby on Rails, Javascript, SVG, raphael.js, Nearest Neighbour algorithm, data visualisation, mongoDB, postgreSQL
        .small-8.columns
          h3 data product
          p Together with the Center for Higher Educational Policy Studies, an institute linked to University Twente, we developed a web application that maps universities on 29 dimensions. The data application we developed lets you search, filter and compare universities on all of these dimensions. Furthermore, the back-end is fully equiped for gathering standardized information about higher educational institutions in countries with differ-ent traditions and ways of presenting their data. The U-map application validates data input thoroughly.
          h3 insight
          p The multidimensional classification is presented in an interactive and simple way.
          h3 intelligence
          p There is a lot of information In the 29 dimensional data of all universities. This data encloses connections between uni-versities never seen before. We devel-oped a simple but efficient algorithm to discover and compare universities based on similarity.

    div
      .row
        svg(height='70', width='100%')
          line(x1='0', y1='15', x2='1200', y2='15', style='stroke: #999999; stroke-width: 3;')
          polygon(class='polygon', points='830,15 910,15 870,28')
      .row.s8.bier
        .small-4.columns
          img.png(src="images/bierapp.png" width="90%" float="left" )
          a(href='www.u-map.eu', target='blank') www.u-map.eu
          p Objective-C, Java, RESTFULL API, Ruby on Rails, javascript, Mongodb, machine learning, bayesian sets, collaborative filtering
        .small-8.columns
          p Discover your favorite beer, know where this beer is served and build your personal beer journal; This is the BierApp. It gives you advice on what to drink next and shows the beer listings of café’s. The ‘BierApp’ makes sure you always drink the right beer on the right occasion.
          h3 data product
          p The ‘BierApp’ is Orikami spin-off and is following a live of its own since july 2014, with Orikami as technical partner. The ‘BierApp’ is an advanced cross-platform application available on iOS and Android, with a large database of beers and café’s available through the web. Because of real-time data availability we developed an efficient RESTFULL API that connects to all mobile devices.
          h3 insight
          p Besides relevant information about beers like the brewery, the beertype and the taste. We show realtime insights on which beers are available in cafe’s. Furthermore we show information about which beers you liked and which are on your wishlist.
          h3 intelligence
          p To add some intelligence and help you discover beers we developed two different algorithms. The first one matches characteristics of beers with one another. We show similar beers based on a very diverse set of characteristics. Beer style and substyle are important, as well as taste characteristics. Furthermore we developed a self learning model that learns from experts which beers should match.The second algorithm gives an advice on your personal preference. It is based upon which beers you liked before and makes a relevance match on your personal profile.