template(name='delau')
  .delau-wrapper.section.s2(data-destination="core")
    .row
      .small-12.columns.intro
        .quote "Data is the new oil" - Neelie Kroes (2012).
        h2 We build next-gen data applications. Data is valuable, but if unrefined it cannot be used. Orikami helps organisations exploit their data.
