template(name='delau')
  .section.parallax.s1(data-destination="science")
    .delau-wrapper
    .row
      .small-12.columns
        h2 Orikami helps you get maximum value from your data
  .section.s2
    //object.venn(type="image/svg+xml" data="images/venn.svg")
    img.venn(src="images/venn_s.svg") 
    .row
      .small-12.columns
        p.lead Orikami is not your run-of-the-mill data science company. Our company is specialised in helping you innovate with data and learn from data. We are not statisticians. We are computational neuroscientists. We are artificial intellenge scientists. We are real data scientists. We know how to discover relevant patterns in data.
    .row
      .medium-4.small-8.columns
        //h5 Find out what is data science?
        h3.right.pad Hacking Skills
        p.right Data is a commodity traded electronically, therefore, we need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files from the command-line, think algorithmically, and have an interest in learning new tools.
      .medium-4.small-8.columns
        h3.pad Math & Statistics
        p Once we have acquired and cleaned the data, the next step is to actually extract insight from it. We need to apply appropriate mathematical and statistical methods. We are talking about both classic statistics and machine learning or pattern recognition.        
    .row
      h3.center.padding Domain Expertise
      p.center Science is about discovery and building knowledge, which requires motivating questions <br> about the world and hypotheses that can be brought to data and tested with statistical methods. <br> Relevant questions first, then data.

    .row
      .small-12.columns
        h2 How can we be of service for you?
    .row(data-equalizer)
      .medium-4.columns
        h3 Accurate predictions
        p Our brain is able to recognize patterns from the past and makes predictions for the future based on these patterns. We studied the brain and its powerfull abilities for recognizing patterns and building predictive models. Our data products lift the power of prediction!
      .medium-4.columns
        h3 Real-time insight
        p We love old sayings like: "To measure is to know" and "knowledge is power". However it gets confusing when "Time is money". That's why we help you to get your insights as quickly as possible. We make data real-time available, through easy to understand interactive data visualizations!
      .medium-4.columns
        h3 Self-learning algorithms
        p People learn by giving them feedback. Software can learn too! We use the power of giving our software feedback, so it can learn. We just tell it when it did something right (give it a carrot) and wrong (hit it softly with a stick). Carrot and stick are very helpfull in training our software to do the right thing.
