template(name='delau')
  .delau-wrapper.section.s2(data-destination="core")
    .row
      .small-12.columns.intro
        //h2 Orikami makes sure you exploit your data intelligently.
        h2 orikami helps you get maximum value from your data. Giving you the edge.
