template(name='delau')
  .section.parallax.s1(data-destination="science")
    .delau-wrapper
    .row
      .small-12.columns
        h2 Orikami helps you get maximum value from your data.
        p Orikami is not your run-of-the-mill data science company. We are not statisticians. We are computational neuroscientists. We are artificial intelligence scientists. We are real data scientists.

  .section.s2

    //object.venn(type="image/svg+xml" data="images/venn.svg")
    img.venn(src="images/venn_s.svg") 
    .row
    .row
      .medium-4.small-8.columns
        //h5 Find out what is data science?
        h3.right.pad Hacking Skills
        p.right Data is a commodity traded electronically, therefore, we need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files from the command-line, think algorithmically, and have an interest in learning new tools.

      .medium-4.small-8.columns
      .medium-4.small-8.columns
      .medium-4.small-8.columns

        h3.pad Math & Statistics
        p Once we have acquired and cleaned the data, the next step is to actually extract insight from it. We need to apply appropriate mathematical and statistical methods. We are talking about both classic statistics and machine learning or pattern recognition.        
                    
    .row

    
      h3.center.padding Domain Expertise
      p.center Science is about discovery and building knowledge, which requires motivating questions <br> about the world and hypotheses that can be brought to data and tested with statistical methods. <br> Relevant questions first, then data.


