template(name='delau')
  .delau-wrapper.section.s1(data-destination="science")
    .row
      .small-12.columns
        h2 Orikami helps you get maximum value from your data.
        p Orikami is not your run-of-the-mill data science company. We are not statisticians. We are computational neuroscientists. We are artificial intelligence scientists. We are real data scientists.

  .section.s2
    .row
      .medium-6.small-12.columns
        h5 Find out what is data science?
        h3 Hacking Skills
        p Data is a commodity traded electronically, therefore, we need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files at the command-line, thinking algorithmically, and be interested in learning new tools.

        h3 Math & Statistics
        p Once we have acquired and cleaned the data, the next step is to actually extract insight from it. We need to apply appropriate math and statistics methods. We are talking about both classical statistics and machine learning or pattern recognition. 

        h3 Domain Expertise
        p Science is about discovery and building knowledge, which requires motivating questions about the world and hypotheses that can be brought to data and tested with statistical methods. Relevant questions first, then data.
            
      .medium-6.small-12.columns
        object.fill.venn(type="image/svg+xml" data="images/venn.svg")
            
