template(name='delau')
  .section.parallax.s1(data-destination="science")
    .delau-wrapper
    .row
      .small-12.columns
        h2 
          | We get max(value)
          sup 2 
          | from your data

  .section.s2
    .row
      .small-12.columns
        p.lead
          | Orikami is not your run-of-the-mill data science company. Our company is specialised in helping you innovate with data and learn from data. We are not statisticians. We are data scientists. We know how to uncover patterns from (big) data.
          span.orikami-blue What is data science?
    .row
      .medium-4.small-12.columns
        h3.right.pad Hacking Skills
        p.right Data is a commodity traded electronically, therefore, we need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files from the command-line, think algorithmically, and have an interest in learning new tools.
      .medium-4.small-12.columns
        object.venn(type="image/svg+xml" data="images/venn_s.svg")
      .medium-4.small-12.columns
        h3.pad Math & Statistics
        p Once we have acquired and cleaned the data, the next step is to actually extract insight from it. We need to apply appropriate mathematical and statistical methods. We are talking about both classic statistics and machine learning or pattern recognition.
    .row
      .medium-4.small-12.medium-centered.columns
        h3.center Domain Expertise
        p.center Science is about discovery and building knowledge, which requires motivating questions about the world and hypotheses that can be brought to data and tested with statistical methods. Relevant questions first, then data.
