<template name="home">
  <div class="wireframe-wrapper full-width">	
		{{#constant}}{{/constant}}

    <div class="row">
      <div class="small-12 columns">
        <h1 id="uvp">Sail the seas of data</h1>
      </div>
    </div>

    <div class="bottom full-width">
      {{>goButton}}
    </div>

	</div>

  <div class="full-width section-2">
    <div class="row">
      <div class="small-6 columns small-centered">
        <div id="logo">
          <img src="images/logo.png"></div>
        </div>
      </div>
    </div>
  </div>
  
</template>

<template name="goButton">
  <button class="button round">Read more</button>
</template>