template(name='home')

  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          | orikami
          small  data science boutique
        dl.sub-nav.right
          dd(data-arrival="core")
            a(href="#core") Core values
          dd(data-arrival="products")
            a(href="#products") Products
          dd(data-arrival="data-science")
            a(href="#data-science") Data science
          dd(data-arrival="contact")
            a(href="#contact") Contact

  +brain

  //- .wireframe-wrapper.section.s1
  //-   .row
  //-     .small-12.columns
  //-       #uvp
  //-         h1 Explore the seas of data
  //-         h2 Orikami believes there is more to be learned from data
  //-   .row
  //-     .small-12.columns
  //-       object#logo(type="image/svg+xml" data="images/logo_boat.svg")

  //-   .bottom.full-width
  //-     button.button.round.go-button Read more

  .section.s2(data-destination="core")
    a(name="core")
    .row
      .medium-12.columns
        .quote "Data is the new oil" - Neelie Kroes (2012). 
         h3 Data is valuable, but if unrefined it cannot be used. Orikami believes there is more to be learned from data. Therefore we help organisations undertand and use their data to create relevant products and services.
    .row
      .medium-6.columns
        //- img(src="images/curisity.png")
      .medium-6.columns
        h3.green Curiosity
        p Orikami stimulates curiosity. We don't stop where the world ends. We reach further and ask more questions.
        p That's how we uncover the most fascinating and rewarding stories. Our data scientists push the envelop. Curiosity  is the key.

    .row
      .medium-6.columns
        h3.orange Analytic
        p Data always has its secrets. Fully equipped with the most modern tools our extremely mathematically trained data scientists are up to reveal.
        p That's how these brilliant analytical talents are able to enrich, couple and analyze data. The end result: pure wisdom.
      .medium-6.columns
        //- img(src="images/together.png")

    .row
      .medium-6.columns
        //- img(src="images/curisity.png")
      .medium-6.columns
        h3.red Together
        p At Orikami we collaborate. We partner up. Together with our partners we form innovation teams. The teams usually consist of domain experts, data scientists and business developers.
        p Nobody is perfect, but a team can be.

  .section.parallax.s3(data-destination="products")
    a(name="products")
    .row
      .small-12.columns
        h2 At Orikami we fold data into products


  .section.s4
    .row
      .small-12.columns
        h3 Orikami is a product innovation boutique. Together with our partners we innovate by creating excellent data products. We investigate and build the most ellegant algorithms, the most predictive models and the smartest sensors.
        +similarBeers

  .section.parallax.s5(data-destination="data-science")
    a(name="data-science")
    .row
      .small-12.columns
        h2 Excellence in data science

  .section.s6
    .row
      .small-12.columns
        h3 Orikami is not your run-of-the-mill data science company. We are not statisticians. we are computational neuroscientist. We are artificial intelligence scientists. We are real data scientists.
    .row
      .medium-8.columns.small-10.columns.small-centered
        object.fill.venn(type="image/svg+xml" data="images/venn.svg")
    .row
      .medium-4.columns
        h4 Hacking Skills
        p.review Data is a commodity traded electronically, therefore, in order to be in this market you need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files at the command-line, thinking algorithmically, and be interested in learning new tools.
      .medium-4.columns
        h4 Math & Statistics
        p.review Once you have acquired and cleaned the data, the next step is to actually extract insight from it. You need to apply appropriate math and statistics methods, which requires at least a baseline familiarity with these tools.
      .medium-4.columns
        h4 Domain Expertise
        p.review Science is about discovery and building knowledge, which requires some motivating questions about the world and hypotheses that can be brought to data and tested with statistical methods. Questions first, then data.




  //- .section.parallax.showcase

  //- .section
  //-   .row
  //-     .small-12.columns
  //-       object.bayes-eq(type="image/svg+xml" data="images/nbc.svg")

  .section.parallax.s7
    .row
      .small-12.columns
        h2 Our team

  .section.our-team
    .row
      .medium-4.columns
        .team-image
          .hex.andres: img(src="images/andres-hex.png")
          .hex.andres.back: img(src="images/andres-hex-original.png")
        h4 Andres Lamont
        h5 Data Scientist / Developer
      .medium-4.columns
        .team-image
          .hex.bram: img(src="images/bram-hex.png")
          .hex.bram.back: img(src="images/bram-hex-original.png")
        h4 Bram den Teuling
        h5 Data Scientist / Inspirator
      .medium-4.columns
        .team-image
          .hex.luc: img(src="images/luc-hex.png")
          .hex.luc.back: img(src="images/luc-hex-original.png")
        h4 Luc Vandewall
        h5 Business Developer / Realisator

  .section.contact(data-destination="contact")
    a(name="contact")
    .row
      .small-12.columns
        h2 Check us out!
    .row
      .medium-6.columns
        .row
          .medium-12.columns
            h5 Address
        .row
          .medium-6.columns
            ul.no-bullet
              li Stationsplein 13-22
              li 6512 AB Nijmegen
              li Room 2.07 en 2.08
          .medium-6.columns
            ul.no-bullet
              li +31 (0)24-301 0100
              li: a(href="skype:info-dyw?call") Call with Skype
              li: a(href="mailto:info@orikami.nl") info@orikami.nl
        .row
          .medium-12.columns
            dl
              dt:| KvK:
              dd:| 52749096
              dt:| BTW:
              dd:| 8505.80.626
            h5 Route from Nijmegen central station
            p: |We make our awesome products in the office building across the square at Nijmegen central station.


      .medium-6.columns
        +contactForm

  .section.map
    #map.large

  footer.section
    .row
      .medium-6.columns
        object.footer-logo(type="image/svg+xml" data="images/logo.svg")
      .medium-6.columns
        p We investigate and build the most ellegant algorithms, the most predictive models and the smartest sensors.
        span.all-caps We are a data science boutique.

        ul.side-nav
          li(data-arrival="core")
            a(href="#core") Core values
          li(data-arrival="products")
            a(href="#products") Products
          li(data-arrival="data-science")
            a(href="#data-science") Data science
          li(data-arrival="contact")
            a(href="#contact") Contact
