<template name="home">
  <div class="wireframe-wrapper section s1">
		{{#constant}}{{/constant}}

    <div class="row">
      <div class="small-12 columns">
        <h1 id="uvp">Explore the seas of data</h1>
        <h2>Orikami believes there is more to be learned from data</h2>
      </div>
    </div>

    <div class="bottom full-width">
      <button class="button round go-button">Read more</button>
    </div>

	</div>

  <div class="section s2">
    <div class="row">
      <ul class="small-block-grid-3 hexes">
        <li class="hex green"><span>1</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="150px" height="150px" version="1.1"><polygon style="fill: none; stroke: #47b39d; stroke-width: 2px;" points="148,183.138 52,183.138 4,100 52,16.8616 148,16.8616 196,100 148,183.138" transform="rotate(30,100,100)"/></svg></li>
        <li class="hex orange"><span>2</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="150px" height="150px" version="1.1"><polygon style="fill: none; stroke: #ffc662; stroke-width: 2px;" points="148,183.138 52,183.138 4,100 52,16.8616 148,16.8616 196,100 148,183.138" transform="rotate(30,100,100)"/></svg></li>
        <li class="hex red"><span>3</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="150px" height="150px" version="1.1"><polygon style="fill: none; stroke: #ed7865; stroke-width: 2px;" points="148,183.138 52,183.138 4,100 52,16.8616 148,16.8616 196,100 148,183.138" transform="rotate(30,100,100)"/></svg></li>
      </ul>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <h3 class="centered green">Curious</h3>
        <p>Orikami stimulates curiousity. We don't stop where the world ends. We reach further and ask more questions. That's how we uncover the most fascinating and rewarding stories. Our data scientists push the envelop. Curiousity is the key.</p>
      </div>
      <div class="small-4 columns">
        <h3 class="centered orange">Analytic</h3>
        <p>Data always has its secrets. Fully equipped with the most modern tools our extremely mathematically trained data scientists are up to reveal.  That's how these brilliant analytical talents are able to enrich, couple and analyze data. The end result: pure wisdom.</p>
      </div>
      <div class="small-4 columns">
        <h3 class="centered red">Together</h3>
        <p>At Orikami we collaborate. We partner up. Together with our partners we form innovation teams. The teams usually consist of domain experts, data scientists and business developers. Nobody is perfect, but a team can be. </p>
      </div>
    </div>
  </div>

  <div class="bottom full-width">
    <button class="button round go-button">About Orikami</button>
  </div>

  <div class="section s3">
    <div class="row">
      <div class="small-6 columns small-centered">
        <div id="logo">
          <img src="images/logo.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section s4">
    <div class="row">
     <div class="small-12 columns">
        <h2>ABOUT: At Orikami we fold data into products</h2>
        <p>Orikami is a product innovation boutique. Together with our partners we innovate by creating excellent data products. We investigate and build the most ellegant algorithms, the most predictive models and the smartest sensors.</p>
        <h3>Our team</h3>
        <p>Bram den Teuling, Andres Lamont, Luc Vandewall</p>
      </div>
    </div>
  </div>
  <div class="section s5">
    <div class="row">
     <div class="small-12 columns">
        <h2>Portfolio: A selection of excellent data science</h2>
        <p>Orikami is a product innovation boutique. Together with our partners we innovate by creating excellent data products. We investigate and build the most ellegant algorithms, the most predictive models and the smartest sensors.</p>
        <h3>Our team</h3>
        <p>Bram den Teuling, Andres Lamont, Luc Vandewall</p>
      </div>
    </div>
  </div>
</template>
