template(name='home')

  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          span orikami
          small data science boutique
        dl.sub-nav.right
          dd(data-arrival="science")
            a(href="#science") Science
          dd(data-arrival="products")
            a(href="#products") Products
          dd(data-arrival="process")
            a(href="#process") Agile
          dd(data-arrival="team")
            a(href="#team") Team
          dd(data-arrival="partners")
            a(href="#partners") Partners
          dd(data-arrival="contact")
            a(href="#contact") Contact

  +if webglAvailable
    +brain
  +else
    +brainLame
  a(name="science")
  +delau

  .section.s2b
    .row
      .small-12.columns
        h1(style="text-align:center") What do our data science teams deliver?
        //input.color-picker(value="#5367ce")
    .row(data-equalizer)
      .medium-4.columns(style="padding-right:56px")
        object.svg-image(type="image/svg+xml" data="images/insight.svg" style="width:40%")
        h3(style="margin-top:-30px") Real-time insights
        p We love old sayings like: "to measure is to know" and "knowledge is power". However it gets confusing when "time is money". That's why we help you to get your insights as quickly as possible. We make data real-time available, through easy to understand interactive data visualizations!
      .medium-4.columns(style="padding-right:56px")
        object.svg-image(type="image/svg+xml" data="images/learning.svg" style="width:40%")
        h3(style="margin-top:-30px") Self-learning algorithms
        p People learn by receiving feedback. Computers can learn too! We give our software feedback, so it can learn. We just tell it when it did something right (give it a carrot) or wrong (hit it gently with a stick). Carrot and stick are very helpful in training our software to do the right thing.
      .medium-4.columns
        object.svg-image(type="image/svg+xml" data="images/predictions.svg" style="width:35%; margin-top-20px")
        h3(style="margin-top:-30px") Accurate predictions
        p Our brain is able to recognize patterns over time and make predictions for the future based on these patterns. We study the brain and its powerful abilities for recognizing patterns and building predictive models. Our data products lift the power of prediction!
      .row
        .small-12.columns
          .button.round.centered(data-arrival="products" onclick="ga('send', 'event', 'CallToAction', 'Button', 'portfolio');") Want to see some examples? Check out our portfolio!

  .section.parallax.s3(data-destination="products")
    a(name="products")
    .row
      .small-12.columns
        h2 At orikami we fold data into products
  #products.section.s4.dark-gray(data-destination="products")
    .row
      .small-12.columns
        p.lead 
          span.orikami-blue Discover our portfolio.
          | Orikami builds custom data products. Data products are not about the data, but about discovery and covert action. Data should get out of our way. 
    .row
      .small-12.columns
        +portfolio
  
  .section.s2b
    .row
      .small-12.columns
        h1 How can we be of service?
    .row(data-equalizer)
      .medium-6.columns
        h3 Data Lab
        p Data is the new oil. If you are sitting on a "big data deposit", you probably know it can bring a lot of wealth. However, do you know how to drill that deposit? Do you know how to refine the data for interesting patterns and couple rich data sources? Is your culture ready to un-silo its data? We know how to kickstart your endeavours! We help you setup your data lab.
      .medium-6.columns
        h3 Data products
        p Crude oil cannot be used. Petroleum has to be refined to create fuels and plastics. The same with data. Unrefined data is meaningless. Data products are the result of a process of refining data. We build data products and tailor them to your specific needs. We have a very flexible process to deliver fast and with high quality.
    .row
      .small-12.columns
        a.button.round.centered(data-arrival="process" onclick="ga('send', 'event', 'CallToAction', 'Button', 'process');") Take a look behind the scenes and check out our awesome process!

  .section.parallax.process(data-destination="process")
    a(name="process")
    .row
      .small-12.columns
        h2.white Agile data science process
  .section.gray(data-destination="process")
    .row
      h2 Agile workflow
      p.lead Our workflow ensures frequent feedback and iterations between our data scientists and all other stakeholders.
    .row
      .medium-6.small-12.columns.medium-push-6
        h3 Scalable
        p By using the power of the cloud we have immediate access to virtually infinite on-demand computational power and storage allowing us to scale infinitely.

        h3 Platform
        p We make extensive use of third-party PaaS services. This leaves us free to focus on the problem at hand instead of worrying about the setup and maintenance of complex computational infrastructures.

        h3 Expectations
        p Data science can be unpredictable. To make sure that expectations are met, we determine the lower and upper bounds on model performance as early as possible during the process.

      .medium-6.small-12.columns.medium-pull-6
        +process


  .black.section.parallax.s7(data-destination="team")
    a(name="team")
    .row
      .small-12.columns
        h2.black Meet our team
  .section.our-team
    .row
      .small-12.columns
        p.lead At orikami we collaborate. We partner up. We co-create. We have the technical know-how to develop intelligent data products. We need your knowledge about the problem domain. Together, we are an unbeatable team!
    .row
      .medium-8.columns.medium-centered.hex-container
        .hex-push
          +hex url="images/Vera_new.png" background_id="bg2" name="Vera Rutten" title="" descr="interaction designer" text_align="left"
        +hex url="images/Niklas_new.png" name="Niklas Weber" title="Bachelor of Science" descr="junior data hacker" background_id="bg8"  text_align="right"
        +hex url="images/Bram_new.png" background_id="bg4" name="Bram den Teuling" title="Master of Science" descr="data scientist" text_align="left"


        .hex-invisible
          +hex url=""
        +hex url="images/Saiden_new.png" background_id="bg3" name="Syed Saiden Abbas" title="PhD Graduand Computer Science" descr="data hacker" text_align="right"
        
        .hex-push
          +hex url="images/hanneke_new.png" name="Hanneke van den Akker" title="Master of Science" descr="testing and support" background_id="bg6"  text_align="left"
          
        +hex url="images/Andres_new.png" background_id="bg1" name="Andres Lamont" title="Master of Science" descr="data scientist" text_align="right"
        .hex-superpush  
          +hex url="images/marijn_new2.png" background_id="bg7" name="Marijn Martens" title="PhD Graduand Neuroinformatics" descr="data scientist" text_align="right" 
          
        .hex-push
          +hex url="images/Stijn_new.png" name="Stijn Albers van der Linden" title="" descr="junior developer" background_id="bg9"  text_align="left"

        .hex-push
        +hex url="images/Joris_new.png" background_id="bg5" name="Joris Cuppen" title="Master of Science" descr="educational data wizard" text_align="right"
        


  .black.section.parallax.s9(data-destination="partners")
    a(name="partners")
    .row
      .small-12.columns
        h2.black Partners
  .section.partners(data-destination="partners")
    .row
      .small-12.columns
        +partners


  .section.contact(data-destination="contact")
    a(name="contact")
    .row
      .small-12.columns
        h2 Check us out!
    .row
      .medium-6.columns
        .row
          .medium-12.columns
            h5 Address
        .row
          .medium-6.columns
            ul.no-bullet
              li Ridderstraat 27
              li 6511 TM Nijmegen
          .medium-6.columns
            ul.no-bullet
              li +31 (0)24-301 0100
              li: a(href="skype:info-dyw?call" onclick="ga('send', 'event', 'CallToAction', 'Contact', 'Skype');") Call with Skype
              li: a(href="mailto:info@orikami.nl" onclick="ga('send', 'event', 'CallToAction', 'Contact', 'Mail');") info@orikami.nl
        .row
          .medium-12.columns
            dl
              dt:| CC:
              dd:| 52749096
              dt:| VAT:
              dd:| NL00850580626B01
            h5 Route from Nijmegen central station
            p: |We make our awesome products in the office building across the square at Nijmegen central station.


      .medium-6.columns
        +contactForm

  .section.map
    #map.large


