template(name='home')

  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          span orikami
          small data science boutique
        dl.sub-nav.right
          dd(data-arrival="science")
            a(href="#science") Science
          dd(data-arrival="products")
            a(href="#products") Products
          dd(data-arrival="process")
            a(href="#process") Agile
          dd(data-arrival="team")
            a(href="#team") Team
          dd(data-arrival="contact")
            a(href="#contact") Contact

  +brain

  +delau

  .section.s2b
    .row
      .small-12.columns
        h1 What do our data science teams deliver?
    .row(data-equalizer)
      .medium-4.columns
        object.sm.svg-image(type="image/svg+xml" data="images/ins3.svg")
        h3 Real-time insight
        p We love old sayings like: "to measure is to know" and "knowledge is power". However it gets confusing when "time is money". That's why we help you to get your insights as quickly as possible. We make data real-time available, through easy to understand interactive data visualizations!
      .medium-4.columns
        object.sm.svg-image(type="image/svg+xml" data="images/learn3.svg")
        h3 Self-learning algorithms
        p People learn by receiving feedback. Computers can learn too! We give our software feedback, so it can learn. We just tell it when it did something right (give it a carrot) or wrong (hit it softly with a stick). Carrot and stick are very helpful in training our software to do the right thing.
      .medium-4.columns
        object.sm.svg-image(type="image/svg+xml" data="images/pred3.svg")
        h3 Accurate predictions
        p Our brain is able to recognize patterns over time and make predictions for the future based on these patterns. We study the brain and its powerful abilities for recognizing patterns and building predictive models. Our data products lift the power of prediction!


  .section.parallax.s3(data-destination="products")
    a(name="products")
    .row
      .small-12.columns
        h2 At orikami we fold data into products
  .section.s4.dark-gray(data-destination="products")
    .row
      .small-12.columns
        p.lead Orikami builds custom data products. Data products are not about the data, but about discovery and covert action. Data should get out of our way. With our partners we build products that deliver real-time insights, make accurate prediction and behave as smart sensors. 
    .row
      .small-12.columns
        +portfolio
  .section.s2b
    .row
      .small-12.columns
        h1 How can we be of service for you?
    .row(data-equalizer)
      .medium-6.columns
        object.sm.svg-image(type="image/svg+xml" data="images/ins3.svg")
        h3 Data Lab
        p Data is the new oil. If you are sitting on a "big data deposit", you probably know it can bring a lot of wealth. However, do you know how to drill that deposit? Do you know how to refine the data for interesting patterns and couple rich data sources? Is your culture ready to un-silo its data? We know how to kickstart your endeavours! Together, we setup a data lab. We investigate your data information quality. We help you setup your data wells and exploit your data fields.
      .medium-6.columns
        object.sm.svg-image(type="image/svg+xml" data="images/learn3.svg")
        h3 Data products
        p Crude oil cannot be used. Petroleum has to be refined to create fuels and plastics. The same with data. Unrefined data is meaningless. Data products are the result of a process of refining data. We build data products and tailor them to your specific needs. We have a very flexible process to deliver fast and with high quality.
        p See our process? See our portfolio / example products / Contact us

  .section.parallax.process(data-destination="process")
    a(name="process")
    .row
      .small-12.columns
        h2 Agile data science process

  .section.gray(data-destination="process")
    .row
      .medium-6.small-12.columns.medium-push-6
        h2 Agile workflow
        p.lead Our workflow ensures frequent feedback and iterations between out data scientists and all other stakeholders.

        h3 Scalable
        p By using the power of the cloud we have immediate access to virtually infinite on-demand computational power and storage allowing us to scale infinitely.

        h3 Platform
        p We make extensive use of third-party PaaS services. This leaves us free to focus on the problem at hand instead of worrying about the setup and maintenance of complex computational infrastructures.

        h3 Expectations
        p Data science can be unpredictable. To make sure that expectations are met, we determine the lower and upper bounds on model performance as early as possible during the process.

      .medium-6.small-12.columns.medium-pull-6
        +process


  .section.parallax.s7(data-destination="team")
    .row
      .small-12.columns
        h2 Meet our team
  .section.our-team
    .row
      .small-12.columns
        p.lead At orikami we collaborate. We partner up. We co-create. We have the technical know-how to develop next-gen data applications. We need you for knowledge about the problem domain. Together, we are an unbeatable team!
    .row
      .medium-8.columns.medium-centered.hex-container
        .hex-push
          +hex url="images/andres-hex-original.png" background_id="bg1" name="Andres Lamont" descr="data scientist" text_align="left"

        +hex url="images/vera3.jpg" background_id="bg2" name="Vera Rutten" descr="interaction designer" text_align="right"

        +hex url="images/boat_hex.png" background_id="bg3" name="You?" text_align="left"

        .hex-invisible
          +hex url="" 

        +hex url="images/bram-hex-original.png" background_id="bg4" name="Bram den Teuling" descr="data scientist & lean innovator" text_align="right"

        .hex-push
          +hex url="images/joris.jpg" background_id="bg5" name="Joris Cuppen" descr="data wizard in training" text_align="left"

        +hex url="images/boat_hex.png" name="You?" background_id="bg6"  text_align="right"

  .section.contact(data-destination="contact")
    a(name="contact")
    .row
      .small-12.columns
        h2 Check us out!
    .row
      .medium-6.columns
        .row
          .medium-12.columns
            h5 Address
        .row
          .medium-6.columns
            ul.no-bullet
              li Stationsplein 13-22
              li 6512 AB Nijmegen
              li Room 2.07 and 2.08
          .medium-6.columns
            ul.no-bullet
              li +31 (0)24-301 0100
              li: a(href="skype:info-dyw?call") Call with Skype
              li: a(href="mailto:info@orikami.nl") info@orikami.nl
        .row
          .medium-12.columns
            dl
              dt:| KvK:
              dd:| 52749096
              dt:| BTW:
              dd:| 8505.80.626
            h5 Route from Nijmegen central station
            p: |We make our awesome products in the office building across the square at Nijmegen central station.


      .medium-6.columns
        +contactForm

  .section.map
    #map.large

  .section.footer-site
    .row
      .medium-6.columns
        object.footer-logo(type="image/svg+xml" data="images/logo.svg")
      .medium-6.columns
        p Do you want to create value from data? Call us!
        span.all-caps We are a data science boutique. Your partner in delivering value with data.

        dl.site-map.side-nav
          dd(data-arrival="science")
            a(href="#science") Science
          dd(data-arrival="products")
            a(href="#products") Products
          dd(data-arrival="process")
            a(href="#process") Agile
          dd(data-arrival="team")
            a(href="#team") Team
          dd(data-arrival="contact")
            a(href="#contact") Contact

  .section.footer-sharing
    .row
      .small-12.columns
        span.pull-left.orikami Follow
          span.blue orikami
          a(href="http://twitter.com/#!/orikami" target="_blank" title="Twitter")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x
          a(href="http://www.facebook.com/dreamyourweb" target="_blank" title="Twitter")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-facebook.fa-stack-1x
          a(href="http://www.linkedin.com/company/dreamyourweb" target="_blank" title="Twitter")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-linkedin.fa-stack-1x
          a(href="https://github.com/dreamyourweb" target="_blank" title="Github")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-github.fa-stack-1x
          a(href="skype:info-dyw?call" title="Skype")
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-skype.fa-stack-1x
    .row
      .small-12.columns
        .legal © 2014 orikami, All rights reserved.
