template(name='home')

  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          | orikami
          small  data science boutique
        dl.sub-nav.right
          dd(data-arrival="core")
            a(href="#core") Core values
          dd(data-arrival="data-science")
            a(href="#data-science") Data science
          dd(data-arrival="process")
            a(href="#process") Agile
          dd(data-arrival="products")
            a(href="#products") Products
          dd(data-arrival="contact")
            a(href="#contact") Contact

  +brain

  .section.s2(data-destination="core")
    a(name="core")
    .row
      .medium-12.columns.intro
        .quote "Data is the new oil" - Neelie Kroes (2012).
        h2 We build next-gen data applications. Data is valuable, but if unrefined it cannot be used. Orikami helps organisations exploit their data.

    .row(data-equalizer)
      .medium-4.columns
        img.svg(src="images/curiosity.svg" data-equalizer-watch)
        h4.green Curious
        p Orikami stimulates curiosity. We know how to ask the right questions and explore data.
        p That's how we uncover the most fascinating and rewarding stories.
        p The stories that we fold into products.

      .medium-4.columns
        img.svg(src="images/analytical.svg" data-equalizer-watch)
        h4.orange Analytic
        p Data always has its secrets. Our data scientists are fully equipped with modern tools and mathematics.
        p We are ready to reveal and build. Enriching data by coupling open datasets and api's? No problem!
        p Cluster analysis on noisy data? Cool!

      .medium-4.columns
        img.svg.last(src="images/together.svg" data-equalizer-watch)
        h4.red Together
        p At orikami we collaborate. We partner up. We co-create.
        p We have the technical know-how to develop next-gen data applications.
        p We need you for knowledge about the problem domain. Together, we are an unbeatable team!

  .section.parallax.s5(data-destination="data-science")
    a(name="data-science")
    .row
      .small-12.columns
        h2 Excellence in data science

  .section.s6
    .row
      .small-12.columns
        h3 Orikami is not your run-of-the-mill data science company. We are not statisticians. We are computational neuroscientists. We are artificial intelligence scientists. We are real data scientists.
    .row
      .medium-8.columns.small-10.columns.small-centered
        object.fill.venn(type="image/svg+xml" data="images/venn.svg")
    .row
      .medium-4.columns
        h4 Hacking Skills
        p Data is a commodity traded electronically, therefore, we need to speak hacker. Far from 'black hat' activities, data hackers must be able to manipulate text files at the command-line, thinking algorithmically, and be interested in learning new tools.
      .medium-4.columns
        h4 Math & Statistics
        p Once we have acquired and cleaned the data, the next step is to actually extract insight from it. We need to apply appropriate math and statistics methods, which requires familiarity with these tools.
      .medium-4.columns
        h4 Domain Expertise
        p Science is about discovery and building knowledge, which requires motivating questions about the world and hypotheses that can be brought to data and tested with statistical methods. Domain relevant questions first, then data.


  .section.parallax.process(data-destination="process")
    a(name="process")
    .row
      .small-12.columns
        h2 Agile data science process

  .section
    .row
      .small-12.columns
        h3.center Our workflow ensures frequent feedback and iterations between out data scientists and all other stakeholders.

    .row
      .small-10.columns.small-centered
        +process

    .row
      .medium-4.columns
        h4.center Scalable
        p By using the power of the cloud we have immediate access to virtually infinite on-demand computational power and storage allowing us to scale infinitely.
      .medium-4.columns
        h4.center Platform
        p We make extensive use of third-party PaaS services. This leaves us free to focus on the problem at hand instead of worrying about the setup and maintenance of complex computational infrastructures.
      .medium-4.columns
        h4.center Expectations
        p Data science can be unpredictable. To make sure that expectations are met, we determine the lower and upper bounds on model performance as early as possible during the process.


  .section.parallax.s3(data-destination="products")
    a(name="products")
    .row
      .small-12.columns
        h2 At orikami we fold data into products


  .section.s4
    .row
      .small-12.columns
        h3 Orikami is a product innovation boutique. Together with our partners we innovate by creating excellent data products. We investigate and build the most elegant algorithms, the most predictive models and the smartest sensors.
        +similarBeers


  .section.parallax.s7
    .row
      .small-12.columns
        h2 Our team

  .section.our-team
    .row
      .medium-8.columns.medium-centered.hex-container
        .hex-push
          +hex url="http://lorempixel.com/500/500/people/1" background_id="bg1"
        +hex url="http://lorempixel.com/500/500/people/2" background_id="bg2"
        +hex url="http://lorempixel.com/500/500/people/3" background_id="bg3"
        .hex-invisible
          +hex url=""
        +hex url="http://lorempixel.com/500/500/people/4" background_id="bg4"
        .hex-push
          +hex url="http://lorempixel.com/500/500/people/5" background_id="bg5"
        +hex url="http://lorempixel.com/500/500/people/6" background_id="bg6"


  .section.contact(data-destination="contact")
    a(name="contact")
    .row
      .small-12.columns
        h2 Check us out!
    .row
      .medium-6.columns
        .row
          .medium-12.columns
            h5 Address
        .row
          .medium-6.columns
            ul.no-bullet
              li Stationsplein 13-22
              li 6512 AB Nijmegen
              li Room 2.07 en 2.08
          .medium-6.columns
            ul.no-bullet
              li +31 (0)24-301 0100
              li: a(href="skype:info-dyw?call") Call with Skype
              li: a(href="mailto:info@orikami.nl") info@orikami.nl
        .row
          .medium-12.columns
            dl
              dt:| KvK:
              dd:| 52749096
              dt:| BTW:
              dd:| 8505.80.626
            h5 Route from Nijmegen central station
            p: |We make our awesome products in the office building across the square at Nijmegen central station.


      .medium-6.columns
        +contactForm

  .section.map
    #map.large

  footer.section
    .row
      .medium-6.columns
        object.footer-logo(type="image/svg+xml" data="images/logo.svg")
      .medium-6.columns
        p Do you have problems creating value from data? Call us!
        span.all-caps We are a data science boutique. Your partner in delivering value with information.

        ul.side-nav
          li(data-arrival="core")
            a(href="#core") Core values
          li(data-arrival="products")
            a(href="#products") Products
          li(data-arrival="data-science")
            a(href="#data-science") Data science
          li(data-arrival="contact")
            a(href="#contact") Contact
