template(name="partners")
	#partners
		.row
			.medium-4.columns
				a(href="http://www.beslist.nl/"  target="_blank" title="beslist")
					img(src="images/partners/beslist.png" class="img")
			.medium-4.columns
				a(href="http://www.utwente.nl/bms/cheps/"  target="_blank" title="cheps")
					img(src="images/partners/cheps.png" class="img")
			.medium-4.columns
				a(href="http://www.db-abs.com/home"  target="_blank" title="d&b")
					img(src="images/partners/db2.png" class="img")
		.row
			.medium-4.columns
				a(href="http://dvj-insights.com/nl"  target="_blank" title="dvj insights")
					img(src="images/partners/dvj2.jpg" class="img")
			.medium-4.columns
				a(href="http://europa.eu"  target="_blank" title="EFRO OP oost")
					img(src="images/partners/ERDF.jpg" class="img")
			.medium-4.columns
				a(href="https://www.radboudumc.nl/Pages/default.aspx"  target="_blank" title="Radboudumc")
					img(src="images/partners/umcradboud.png" class="img")
		.row
			.medium-4.columns
				a(href="http://www.onderwijsinspectie.nl/"  target="_blank" title="Inspectie van het onderwijs")
					img(src="images/partners/Inspectie_van_het_onderwijs2.png" class="img")
			.medium-4.columns
				a(href="http://www.kplusv.nl/"  target="_blank" title="KplusV")
					img(src="images/partners/KplusV-testimonial2.jpg" class="img")
			.medium-4.columns
				a(href="http://www.rijksoverheid.nl/ministeries/ocw"  target="_blank" title="Ministerie van onderwijs")
					img(src="images/partners/ministerievanonderwijs2.png" class="img")
		.row
			.medium-4.columns
				a(href="http://www.sterknetwerk.nl/"  target="_blank" title="Sterknetwerk")
					img(src="images/partners/sterknetwerk_logo_blauw.png" class="img")
			.medium-4.columns
				a(href="http://taketwo.nl/"  target="_blank" title="TakeTwo")
					img(src="images/partners/taketwo.jpg" class="img")
			.medium-4.columns
				a(href="http://www.casemix.nl/"  target="_blank" title="Casemix")
					img(src="images/partners/casemix2.png" class="img")
		.row
			.medium-4.columns
				a(href="http://www.connectingmobility.nl/default.aspx"  target="_blank" title="Connecting Mobility")
					img(src="images/partners/connectingmobility.png" class="img")
			.medium-4.columns
				a(href="http://www.cqt.nl/"  target="_blank" title="cqt")
					img(src="images/partners/cqtzorg.png" class="img")
			.medium-4.columns
				a(href="http://www.ru.nl/icis/"  target="_blank" title="iCIS")
					img(src="images/partners/icis2.png" class="img")
		.row
			.medium-4.columns
				a(href="http://www.symax.nl/"  target="_blank" title="Mextra")
					img(src="images/partners/mextra.png" class="img")
			.medium-4.columns
				a(href="http://www.debierapp.nl/"  target="_blank" title="BierApp")
					img(src="images/partners/bierApp2.png" class="img")
			.medium-4.columns
				a(href="https://www.axians.nl/"  target="_blank" title="axians")
					img(src="images/partners/axians.png" class="img")