template(name="process")
  #processDiagram
    .big-loop
      i.fa.fa-refresh


    .circle.circle-1
      .span-wrapper: span: h5 Define the Goal
    .circle.circle-1.back
      .span-wrapper: span What problem are we solving?

    .circle.circle-2
      .span-wrapper: span: h5 Collect & Manage Data
    .circle.circle-2.back
      .span-wrapper: span What information do we need?

    .circle.circle-3
      .span-wrapper: span: h5 Build the Model
    .circle.circle-3.back
      .span-wrapper: span Find patterns in the data that lead to solutions.

    .circle.circle-4
      .span-wrapper: span: h5 Evaluate & Critique Model
    .circle.circle-4.back
      .span-wrapper: span Does the model solve the problem?

    .circle.circle-5
      .span-wrapper: span: h5 Present Results & Document
    .circle.circle-5.back
      .span-wrapper: span Establish that we can solve the problem, and how.

    .circle.circle-6
      .span-wrapper: span: h5 Deploy Model
    .circle.circle-6.back
      .span-wrapper: span Deploy the model to solve the problem in the real world.

    .arrow.arrow-1
      .hack
      i.fa.fa-arrows-h
    .arrow.arrow-2
      .hack
      i.fa.fa-arrows-h
    .arrow.arrow-3
      .hack
      i.fa.fa-arrows-h
    .arrow.arrow-4
      .hack
      i.fa.fa-arrows-h
    .arrow.arrow-5
      .hack
      i.fa.fa-arrows-h
    .arrow.arrow-6
      .hack
      i.fa.fa-arrows-h