.tab-item{
    font-size: 18px;
    font-family:"santor";
	line-height: 160%;
    display: inline-block;
    width: 22%;
    list-style: none;
  	text-align: center;
    &.active{
    	font-weight: bold;
    }
 }


.tab-content{
	display: none;
	&.active{
		display: block;
	}
	.polygon{
		@if tab == 'umap' {fill: #992222;}
		@else {fill: #999999;}
	}
	

}
