@import "colors";

.section.our-team{

  .team-name{
    color: $primary-color;
  }
  
  .team-descr{
    font-family: santor; 
    font-size: 14px;
  }

  .hex-container{
    margin-top: 9.525%;
  }

  .hex-push .hex-wrapper{
    margin-left: 16.66666%;
  }

  .hex-invisible .hex-wrapper{
    opacity: 0;
  }

  .hex-wrapper{
    float: left;
    width: 33%;
    height: 0;
    padding-bottom: 38.10%;
    position: relative;
    overflow: visible;
    margin-top: -9.525%;

    .hex-text{
      position: absolute;
      overflow: visible;
      white-space: nowrap;
      top: 25%;
      padding-right: 10px;
      &.left{
        right: 100%;
      }
      &.right{
        left: 100%;
      }
    }

  }

  .hex{
    width: 100%;
    height: 100%;
    position: absolute;
  }

}