template(name='brain')
  #BrainContainer
    .logo-container
      object#logo(type="image/svg+xml" data="images/logo.svg")
    .content-container
      .text#text1
        | We 
        span.orikami-blue love 
        | the brain
      .text#text2
        span.orikami-blue Orikami 
        | believes products also need brains…
      .text#text3
        | to 
        span.orikami-blue understand 
        | its surroundings
      .text#text4
        | and make 
        span.orikami-blue life 
        | easier.
      .text#text5
        | Our team of young 
        span.orikami-blue scientists
      .text#text6
        | are able to integrate
        span.orikami-blue data
      .text#text7
        | and combine it into 
        span.orikami-blue cognitive 
        | algorithms.

    .navigation-container.animated.fadeInUp
      .row
        .small-12.columns
          ul.inline-list
            li: button.round.next-brain
              i.fa.fa-long-arrow-right
            li: button.round.next-brain skip