template(name='brain')
  #BrainContainer
    .logo-container
      object#logo(type="image/svg+xml" data="images/logo.svg")
    .content-container
      .text#text1
        | We 
        span.orikami-blue love 
        | the brain
      .text#text2
        span.orikami-blue Orikami 
        | believes products also need brains…
      .text#text3
        | to 
        span.orikami-blue understand 
        | its surroundings
      .text#text4
        | and make 
        span.orikami-blue life 
        | easier.
      .text#text5
        | Our team of young 
        span.orikami-blue scientists
      .text#text6
        | are able to integrate 
        span.orikami-blue data
      .text#text7
        | and combine it into 
        span.orikami-blue algorithms.
      .text#text8
        | These curious 
        span.orikami-blue explorers 
        | help you discover your data…


    .navigation-container.animated.fadeInUp
      .row
        .small-12.columns
          ul.inline-list
            li: button.round.next-brain
              i.fa.fa-long-arrow-right
            li: button.round(data-arrival="beer") Skip

  .section.s4(data-destination="beer")
    .row
      .small-12.columns
        h3 Orikami is a product innovation boutique. Together with our partners we innovate by creating excellent data products. We investigate and build the most ellegant algorithms, the most predictive models and the smartest sensors.
        +similarBeers