template(name='headerflp')
  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          span orikami
          small data science boutique
        dl.sub-nav.right
          dd(data-arrival="science")
            a(href="http://orikami.nl/#science") Science
          dd(data-arrival="products")
            a(href="http://orikami.nl/#products") Products
          dd(data-arrival="process")
            a(href="http://orikami.nl/#process") Agile
          dd(data-arrival="team")
            a(href="http://orikami.nl/#team") Team
          dd(data-arrival="contact")
            a(href="http://orikami.nl/#contact") Contact