template(name='survey_app')
  .topnav(class="#{showNavBar}")
    .row
      .small-12.columns
        span.brand
          object.navbar-logo(type="image/svg+xml" data="images/logo_boat.svg")
          span orikami
          small data science boutique
        dl.sub-nav.right
          dd(data-arrival="science")
            a(href="http://orikami.nl/#science") Science
          dd(data-arrival="products")
            a(href="http://orikami.nl/#products") Products
          dd(data-arrival="process")
            a(href="http://orikami.nl/#process") Agile
          dd(data-arrival="team")
            a(href="http://orikami.nl/#team") Team
          dd(data-arrival="contact")
            a(href="http://orikami.nl/#contact") Contact

  .section.landingpage
    .row
      .small-12.columns
        h1 Een enquête-app voor het verzamelen van data via je mobiele telefoon
        p Het afnemen van een enquête of vragenlijst kent verschillende vormen. Ze kunnen worden telefonisch afgenomen worden; face-to-face; op papier; of online op internet of een pc. Met de komst van de smartphone en de tablet is er echter een nieuw medium bij gekomen.
        h2 De mobiele enquête
        p Het afnemen van een enquête via een mobiele applicatie brengt nieuwe mogelijkheden met zich mee die niet met andere dragers mogelijk zijn. De voornaamste voordelen is het combineren van de antwoorden op de vragen met een locatie, een foto, een video of een geluidsfragment. Dit alles op een draagbaar apparaat als een mobiele telefoon of een tablet of een iPad.
        h2 Offline werken en met meerdere apparaten tegelijk
        p Doordat een enquête app is gekoppeld aan een online database is het mogelijk om met meerdere apparaten tegelijk data te verzamelen. De enquêtes worden opgeslagen op het tablet of mobiele telefoon en kunnen met een druk op de knop worden geupload wanneer deze in verbinding staat met internet. Offline werken is dus geheel mogelijk.
        h2 Data eenvoudig te downloaden als CSV-bestand
        p De data die door de verschillende applicaties worden ontwikkeld komen gezamenlijk opgeslagen in een database die online staat. Vanaf hier is het mogelijk alle data met een druk op de knop te downloaden naar een CSV bestand. Dit bestand kan vervolgens worden ingeladen worden in R, Matlab, of SPSS voor een analyse.
        h2 Uw eigen enquête-app op maat
        p De enquête-app kan volledig op uw wensen worden gemaakt. Alternatieve routes door de vragen, bijv. het overslaan van bepaalde vragen na bepaalde antwoorden, is eenvoudig is mogelijk binnen de applicatie. Tevens kan de applicatie geheel worden vormgegeven in uw eigen huisstijl wanneer u dat wenst.
        p Wilt u uw eigen enquête-app of bent u heeft u advies nodig bij het opstellen van uw eigen enquête of vragenlijst neem dan vrijblijvend contact op.
    .row
      .small-12.columns
        +contactForm